<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MbtiMapper">

<!-- 질문 목록 -->
    <select id="findAllQuestions" resultType="com.kh.mbtix.test.model.dto.MbtiModelDto$Question">
        SELECT Q_ID AS id, QUESTION AS question, A_TYPE AS aType, B_TYPE AS bType
  FROM MBTI_TEST
  ORDER BY Q_ID
    </select>

    <!-- MBTI_ID 조회 -->
    <select id="findMbtiIdByName" parameterType="string" resultType="long">
        SELECT MBTI_ID
        FROM MBTI
        WHERE MBTI_NAME = #{mbtiName}
    </select>

    <!-- USERS 업데이트 -->
    <update id="updateUserMbti" parameterType="map">
        UPDATE USERS
        SET MBTI_ID = #{mbtiId}
        WHERE USER_ID = #{userId}
    </update>
    
  <select id="selectUserMbtiRatio" parameterType="long" resultType="map">
  SELECT m.MBTI_NAME,
         ROUND(COUNT(*) * 100 / total.TOTAL_USERS, 1) AS RATIO
  FROM USERS u
  JOIN MBTI m ON u.MBTI_ID = m.MBTI_ID
  CROSS JOIN (SELECT COUNT(*) AS TOTAL_USERS FROM USERS) total
  WHERE u.MBTI_ID = (
      SELECT MBTI_ID FROM USERS WHERE USER_ID = #{_parameter}
  )
  GROUP BY m.MBTI_NAME, total.TOTAL_USERS
</select>







</mapper>